
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    <div class="w3l-login-form">
        <h4 style="color: #DAA520">Forget Password</h4>
        <div class="form-horizontal">
            <hr />
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class=" w3l-form-group">
                <label>Email:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="EmailID" form-control" placeholder="EmailID" required="required" />
                </div>
            </div>

            <button class="btn-login" type="submit">Submit</button>
        </div>
    </div>
}
<link href="~/styles/LoginPage.css" rel="stylesheet" />
